{% extends "base.html" %}
{% load crispy_forms_tags %}

{% block content %}
  <main >
    <div class="container">

      <h2 class="my-5 h2 text-center">Formulário para Requisição de Refundo</h2>

        <form action="." method="POST" class="stripe-form" id="stripe-form">
            {% csrf_token %}
            {{ refund_form|crispy }}
            <button type="submit" class="btn btn-primary float-right">Enviar Solicitação</button>
        </form>
    </div>
  </main>
  

{% endblock content %}